* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    margin: 2% auto;
    height: 100px;
}
.header img {
    height: 20vh;
}
nav {
    background: rgb(130, 226, 130);
    width: 100vw;
}
.navLinks {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    height: 5vw;
    align-items: center;
    margin-left: auto;
    width: 50vw;
    
}
.navLinks a {
    text-decoration: none;
    font-family: "Muli", sans-serif;
    padding: 24px;
    color: black;
    text-align: center;
}
.navLinks a:hover {
    color: teal;
}
.topicons {
    cursor: pointer;
    width: 8%;
}
.topicons i {
    padding: 10px;
}
.topicons i:hover {
    color: skyblue;
}
#searchIcon {
    padding-left: 5px;
}
#menuIcon {
    display: none;
}
.banner img {
    width: 100%;
    height: 60%;
}
.find {
    margin: 2% auto;
    margin-left: 50px;
}
.find h2 {
    text-align: center;
    font-size: 25px;
    font-family: "Muli", sans-serif;
    margin: 30px 0;
}
.box img {
    width: 20vw;
    height: auto;
}
.box-container {
    display: flex;
    justify-content: space-around;
}
.box {
    width: 30%;
    font-family: "Muli";
}
.details {
    width: 15vw;
}
.box > h3, p, img {
    margin-bottom: 4%;
}
.button {
    width: 120px;
    height: 36px;
    font-size: 15px;
    background-color: rgb(113, 145, 113);
    border: none;
}
.button:hover {
    background-color: orange;
}
.footer {
    border-top: 1px solid #eee;
}
.f1 {
    display: flex;
    justify-content: space-around;
}
.line1, .line2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line1 > a, .line2 > a {
    color: black;
    font-family: "Muli", sans-serif;
    text-decoration: none;
    margin-top: 5vh;
}
.line1 > a:hover, .line2 > a:hover {
    color: skyblue;
}
.line3 {
    margin-top: 5vh;
}
.sub {
    border: 1px solid black;
}
.sub > input {
    width: 400px;
    height: 40px;
    border: none;
}
.subtn {
    width: 100px;
    height: 45px;
    font-size: 15px;
    background-color: rgb(113, 145, 113);
    border: none;
}
.subtn:hover {
    background-color: orange;
}
input::placeholder {
    font-family: "Muli", sans-serif;
    font-size: 20px;
}
.f2 {
    margin-top: 30px;
}
.icons {
    display: flex;
    justify-content: space-around;
    width: 10vw;
}
.icons > i:hover {
    color: skyblue;
    cursor: pointer;
}
.copy {
    text-align: center;
    font-family: "Muli", sans-serif;
}
@media screen and (max-width: 768px) {
    body {
        width: 100vw;
        height: auto;
    }
    .header {
        width: 100%;
    }
    .logo {
        width: 60%;
    }
    .topicons {
        width: 15%;
    }
    nav {
        height: 10vh;
        width: 100vw;
        position: relative;
    }
    .navLinks {
        position: fixed;
        flex-direction: column;
        height: 68.5vh;
        width: 100vw;
        margin-top: 10%;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        background: rgb(130, 226, 130);
        transition: all 1s ease-out;
    }
    .navLinks.open {
        clip-path: circle(1000px at 90% -30%);
        -webkit-clip-path: circle(1000px at 90% -30%);
    }
    
    .line {
        width: 30px;
        height: 3px;
        margin: 5px;
        background: black;
    }
     .hamburger {
        position: absolute;
        right: 3%;
        top: 30%;
        cursor: pointer;
    }
    .banner img {
        height: 60vw;
    }
    .find {
        margin-left: 0;
    }
    .box-container {
        flex-wrap: wrap;
        text-align: center;
    }
    .box {
        width: 50vw;
        margin-bottom: 10px;
    }
    .box img {
        width: 40vw;
    }
    .details {
        width: 30vw;
    }
    .f1 {
        flex-wrap: wrap;
    }
    .sub {
        display: none;
    }
    .icons {
        width: 30vw;
        margin: 30px 0;
    }
}

